# ENVIRONMENT
NODE_ENV = development

# PORT
PORT = 3001
SECRET_KEY = ''

# DATABASE
DB_USER = root
DB_PASSWORD = admin
DB_HOST = localhost
DB_PORT = 3306
DB_DATABASE = codeflow

# LOG
LOG_FORMAT = dev
LOG_DIR = ../logs

# CORS
FRONTEND_URL = http://localhost:3002
ORIGIN = http://localhost:3002
CREDENTIALS = true


# Email
SMTP_USER=''
SMTP_PASS=''
SMTP_FROM=''

ORGANIZATION_NAME = organization-codeflow

GITHUB_TOKEN = ''
GEMINI_TOKEN = ''
GITHUB_WEBHOOK_SECRET = ''
WEBHOOK_URL = ''
SONAR_TOKEN = ''
SONAR_ORG_TOKEN = ''