:root {
  --tt-highlight-green: #b9fbc0;
  --tt-highlight-green-contrast: #66c79c;

  --tt-highlight-blue: #a0c4ff;
  --tt-highlight-blue-contrast: #6f9eff;

  --tt-highlight-red: #ffafcc;
  --tt-highlight-red-contrast: #ff6b9f;

  --tt-highlight-purple: #e0bbff;
  --tt-highlight-purple-contrast: #be77ff;

  --tt-highlight-yellow: #fdffb6;
  --tt-highlight-yellow-contrast: #d5d948;
}
